<%- include("partials/header") %>

<div class="container-fluid mt-3">
  <div class="row align-center">
    <div class="col-md-0 col-lg-1 col-xl-1"></div>
    <div class="col-md-3 col-lg-3 col-xl-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9 col-lg-7">
      <div class="card p-3">
        <img
          src="<%=campground.image%>"
          alt="Load aagala"
          class="img-fluid img-thumbnail m-1"
        />
        <div class="caption-full mt-2">
          <h5 class="float-right">$9.99/night</h5>
          <h5><a href="#"><%=campground.name%></a></h5>
          <p><%= campground.desc %></p>
          <h5>Posted By : <%=campground.author.username%></h5>
          <h3><%=campground.author.id%></h3>
          <h3><%=current_User._id%></h3>
          <%if(campground.author.id === current_User._id){%>
          <button class="btn btn-danger" href="/deletefood">delete</button>
          <%}%>
        </div>
      </div>
      <div class="card card-body bg-light mt-2">
        <form
          action="/add_comment/<%=campground._id%>"
          method="POST"
          class="form"
        >
          <div class="row">
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                placeholder="comment"
                name="comment[text]"
              />
            </div>
          </div>

          <div class="text-right m-3">
            <button class="btn btn-success">add comment</button>
          </div>
        </form>

        <div class="row">
          <%campground.comments.forEach(function(comment){%>

          <div class="col-12">
            <strong><%= comment.author.username %></strong>
            <span class="float-right">10 days ago</span>
            <p style="text-indent: 3em;" class="m-2"><%= comment.text %></p>
          </div>

          <%})%>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
